body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
}

nav {
    z-index: 999;
    border: 1px solid black
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 25%;
}

#navbar {
    overflow: hidden;
    background-color: black;
    z-index: 999;
}

#navbar a  {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #500101;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .primary {
    padding-top: 60px;
}

.card {
    width: 18rem;
    display: inline-block;
    padding: 15px;
    margin: 0 auto;
}

.card-img-top {
    height: 150px;
    width: 100%;
}

.source-link {
    float: right;
}

.site-link {
    float: left;
}

.title {
    background-image: url("../assets/layout/cave.jpg");
    background-position: center bottom;
    width: 100%;
    overflow: hidden;
    color: white;
    margin: 0 auto;
    height: 1000px;
}

.footer-bottom {
    background-color: black;
    color: white;
    padding: 3px;
}

#projects {
    margin: 0 auto;
}

.list-group-item {
    border-bottom: 1px dotted grey;
}

.responsibility-header {
    float: left;
}

.responsibility-header {
    float: right;
}

.subtitle {
    margin-bottom: 15px;
}

.schoolword {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    color: black;
}

.btn.disabled {
    overflow: hidden;
    margin-bottom: 10px;
}

.navbar-lead {
    color: white;
    text-align: center;
    display: none;
}


@media only screen and (max-device-width: 400px) {
    
    .card {
        width: 100%;
    }

    .card-img-top {
        height: 500px;
    }

    body {
        font-size: 43px;
    }

    #navbar {
        height: 100px;
    }

    .collection-item {
        line-height: 1.5em;
    }

    td {
        font-size: 30px;
    }

    #navbar-lead {
        padding: 15px;
        height: 200px;
    }
    .btn.disabled {
        height: 70px;
        color: black;
        display: block;
        padding: 15px;
        font-size: 30px;
        margin-top: 20px;
    }

    .fa.fa-plus-circle.responsibility {
        padding: 10px;
        margin-right: 20px;
        font-size: 30px;
    }

    .collection-item {
        font-size: 24px;
        line-height: 100px;
        margin-bottom: 15px;
    }
    .primary {
        margin-bottom: 50px;
    }

    .title {
        height: 1200px;
    }
}