.body p {
    line-height: 24px;
    size: 15px;
}
.resume-img {
    border-radius: 50%;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}
.coarsework p {
    padding: 5px;
    border: 1px solid #dbdbdb;
    text-align: center;
    border-radius: 4px;
}
.coarsework p:hover {
    background-color: #bfd7ff;
}
nav {
    z-index: 999;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 25%;
}

#navbar {
    overflow: hidden;
    background-color: black;
    z-index: 999;
}

#navbar a  {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #500101;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .primary {
    padding-top: 60px;
}

.card {
    display: inline-block;
    padding: 15px;
    margin: 0 auto;
}

.card-img-top {
    height: 150px;
    width: 100%;
}

.source-link {
    float: right;
}

.site-link {
    float: left;
}